@media screen and (min-width:767px) {

    .btn,
    #offcanvasWithBothOptions {
        display: none;
    }


    .hamburger,
    #offcanvasWithBothOptions,
    #filteroffcanvasWithBothOptions {
        display: none;
    }

    .nav-brand {
        display: none;
    }
}

@media screen and (max-width:767px) {
    .first-nav {
        display: none;
    }

    .user-profile {
        display: none;
    }

    .second-div {
        display: none;
    }
}

.offcanvas1 {
    width: max-content !important;
}

.header {
    border-bottom: 1px solid black;
}

.offcanvas2 {
    width: max-content !important;
}


.div {
    border: 1px solid black;
}

.vertical {
    border-left: 6px solid black;
    height: 100px;
    position: absolute;
    left: 50%;
}

.offcanvas {
    width: fit-content;
}

.filter-item {
    border-left: 1px solid black;
}

.header2 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    border-bottom: 1px solid black;
}

.filter-item-skill {
    border-right: 1px solid black;
}

.sortaerrow {
    margin-top: 10%;
}

.sort {
    border: 1px solid grey;
    height: max-content;
}

.iconuser {
    text-decoration: none;
}

.iconForpencil {
    color: orange;
}

.iconForDelete {
    color: black;
}

.overflow-tableEntry {
    overflow: scroll;
}

.userdetails tr {
    height: 5vh;
}

.overflow-tableEntry th {
    vertical-align: middle;
    height: 8vh;
}


.userdetails td {
    vertical-align: middle;
}

.add {
    border: 2px solid orange !important;
    border-radius: 20px !important;
    color: orange !important;
    background-color: white !important;
    width: 20%;
    height: 80%;
}

@media (max-width: 1332px) {
    .add {
        width: 40%;
    }
}

@media (max-width: 676px) {
    .add {
        width: 60%;
    }
}

.iconForcheck {
    color: #14C506;
    font-size: 20px;
}

.iconForcross {
    color: red;
    font-size: 20px;
}
/*UserImage*/
.img-wrap {
    position: relative;
}

    .img-wrap:hover img {
        opacity: 0.5;
    }

    .img-wrap:hover .icon {
        display: block;
    }

.icon {
    position: absolute;
    top: 35%;
    left: 35%;
}

#profileimg {
    height: 100px;
}
