.upload_imagebox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    border: 1px dotted black;
}

    .upload_imagebox image {
        width: auto;
        height: auto;
    }


#storytitle {
    border: 1px dotted black;
}

/*.upload_imagebox {
    width: 150px;
    height: 150px;
    padding: 2px;
    margin: 5px;
}*/

.upload_imgclose {
    width: 25px;
    height: 25px;
    background-color: rgba(0, 0, 0, 0.65);
    position: absolute;
    top: 0px;
    right: 0px;
    text-align: center;
    line-height: 24px;
    z-index: 1;
    cursor: pointer;
}

    .upload_imgclose:after {
        content: "\2716";
        font-size: 12px;
        color: white;
    }


.img-bg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    padding-bottom: 100%;
}

.btnstrcancel {
    width: 100%;
    max-width: 200px;
    height: 48px;
    background: #f8863400;
    border: 2px solid #757575;
    color: #757575;
    border-radius: 24px;
}

.btnstrss {
    width: 100%;
    max-width: 160px;
    height: 48px;
    background: #f8863400;
    border: 2px solid #f88634;
    color: #f88634;
    border-radius: 24px;
}

    .btnstrss:hover {
        background: #f88634;
        color: white;
    }




/*----------------------------navbar--------------------------------------------------*/


@media screen and (min-width:767px) {


    #mainHeader .myToggleButton {
        display: none;
    }


    #mainHeader .hamburger,
    #mainHeader #offcanvasWithBothOptions,
    #mainHeader #filteroffcanvasWithBothOptions {
        display: none;
    }

    #mainHeader #hamburgerbut {
        display: none;
    }

    #mainHeader .nav-brand {
        display: none;
    }
}

@media screen and (max-width:767px) {
    .first-nav {
        display: none;
    }

    .user-profile {
        display: none;
    }

    .second-div {
        display: none;
    }
}
/* @media screen and (max-width:1023px) {
.sort-list-grid {
display: none !important;
}

} */
.offcanvas1 {
    width: max-content !important;
}

.header {
    border-bottom: 1px solid black;
}

.offcanvas2 {
    width: max-content !important;
}
/*
.form-control {
    border: none !important;
}*/

.div {
    border: 1px solid black;
}

.vertical {
    border-left: 6px solid black;
    height: 100px;
    position: absolute;
    left: 50%;
}

.offcanvas {
    width: fit-content;
}

.filter-item {
    border-left: 1px solid black;
}

.header2 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    border-bottom: 1px solid black;
}

.filter-item-skill {
    border-right: 1px solid black;
}

.sortaerrow {
    margin-top: 10%;
}

.sort {
    border: 1px solid grey;
    height: max-content;
}


/*UPLOAD image CSS*/

.img-thumbs {
    background: #eee;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    margin: 1.5rem 0;
    padding: 0.75rem;
}

.img-thumbs-hidden {
    display: none;
}

.wrapper-thumb {
    position: relative;
    display: inline-block;
    margin: 1rem 0;
    justify-content: space-around;
}

.img-preview-thumb {
    background: #fff;
    border: 1px solid none;
    border-radius: 0.25rem;
    box-shadow: 0.125rem 0.125rem 0.0625rem rgba(0, 0, 0, 0.12);
    margin-right: 1rem;
    max-width: 140px;
    padding: 0.25rem;
}

.remove-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .7rem;
    top: -5px;
    right: 10px;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

    .remove-btn:hover {
        box-shadow: 0px 0px 3px grey;
        transition: all .3s ease-in-out;
    }
