/*#profileimg {
    width: 150px;
    height: 150px;
}

.username {
    font-weight: 500;
    font-size: 22px;
}

.changepassword {
    font-weight: lighter;
    color: #414141;
    font-size: 14px;
}

@media only screen and (max-width:768px) {
    .adjust {
        height: fit-content !important;
    }

        .adjust img {
            margin-top: 0px;
        }
}
*/
@media screen and (min-width:767px) {

    .btn,
    #offcanvasWithBothOptions {
        display: none;
    }


    .hamburger,
    #offcanvasWithBothOptions,
    #filteroffcanvasWithBothOptions {
        display: none;
    }

    .nav-brand {
        display: none;
    }
}

@media screen and (max-width:767px) {
    .first-nav {
        display: none;
    }

    .user-profile {
        display: none;
    }

    .second-div {
        display: none;
    }
}

.offcanvas1 {
    width: max-content !important;
}

.header {
    border-bottom: 1px solid black;
}

.offcanvas2 {
    width: max-content !important;
}


.div {
    border: 1px solid black;
}

.vertical {
    border-left: 6px solid black;
    height: 100px;
    position: absolute;
    left: 50%;
}

.offcanvas {
    width: fit-content;
}

.filter-item {
    border-left: 1px solid black;
}

.header2 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    border-bottom: 1px solid black;
}

.filter-item-skill {
    border-right: 1px solid black;
}

.sortaerrow {
    margin-top: 10%;
}

.sort {
    border: 1px solid grey;
    height: max-content;
}

.btnaddskills {
    width: 100%;
    max-width: 160px;
    height: 48px;
    background: #f8863400;
    border: 2px solid #f88634;
    color: #f88634;
    border-radius: 24px;
}

    .btnaddskills:hover {
        background: #f88634;
        color: white;
    }

.btnprofilesave {
    width: 100%;
    max-width: 160px;
    height: 48px;
    background: #f8863400;
    border: 2px solid #f88634;
    color: #f88634;
    border-radius: 24px;
}
    .btnprofilesave:hover {
        background: #f88634;
        color: white;
    }

