@model CiPlatform.Entitites.ViewModels.StoryView




<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Story Listing Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="~/css/sharestory.css">
    @*  <script type="text/javascript" src="~/js/Home.js"></script>*@
    <script type="text/javascript" src="~/ckeditor/ckeditor.js"></script>
</head>

<body>
    <form method="post">
        <div class="d-flex">
            <div class="col-md-2 col-0 border-bottom">
            </div>

            <!--Main Navigation-->
            <div class="col-md-8 col-12">

                <!-- First Navbar -->


                <nav class="navbar navbar-expand-md navbar-light header " aria-label="Eighth navbar example">
                    <div class="container">

                        <button class="btn btn-dark " type="button" data-bs-toggle="offcanvas" id="hamburgerbut"
                                data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
                            <img src="~/Images/list.png">
                        </button>

                        <div class="offcanvas offcanvas-start offcanvas1" data-bs-scroll="true" tabindex="-1"
                             id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">

                            <div class="offcanvas-header">
                                <h2>CI-PLATFORM</h2>
                                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            </div>

                            <div class="offcanvas-body navbar-nav me-auto mb-2 mb-lg-0 align-self-center">
                                <div class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle link-dark border-0" href="#" id="navbarDropdown"
                                       role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <img src="~/Images/user-img.png" alt="mdo" width="32" height="32" class="rounded-circle" />
                                        @{
                                            var firstname = Context.Session.GetString("Firstname");
                                        }
                                        @ViewBag.firstname
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <li><a class="dropdown-item" href="#">New project</a></li>
                                        <li><a class="dropdown-item" href="#">Settings</a></li>
                                        <li><a class="dropdown-item" href="#">Profile</a></li>
                                        <li>
                                            <hr class="dropdown-divider" />
                                        </li>
                                        <li>
                                            <a class="dropdown-item" asp-controller="Home" asp-action="Login">Log out</a>
                                        </li>
                                    </ul>
                                </div>

                                <li class="nav-item">
                                    <a class="nav-link " aria-current="page" asp-controller="Story" asp-action="storydetails">Story</a>
                                </li>

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
                                       aria-expanded="false">Policy</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                        <li><a class="dropdown-item" href="#">Another action</a></li>
                                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                                    </ul>
                                </li>
                            </div>
                        </div>

                        <img src="~/Images/logo.png" alt="CI-PLATFORM" class="me-5">
                        <ul class="navbar-nav first-nav me-auto mb-2 mb-lg-0 ">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" asp-controller="Story" asp-action="storydetails">Story</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
                                   aria-expanded="false">Policy</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </li>
                        </ul>
                        @foreach (var p in Model.user)
                        {
                            if (p.UserId == ViewBag.uid)
                            {

                                <div class="dropdown text-end user-profile ">
                                    <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                        <img src="~/Images/user-img.png" alt="mdo" width="40" height="40" class="rounded-circle">

                                        @p.FirstName
                                    </a>
                                    <ul class="dropdown-menu text-small">
                                        <li><a class="dropdown-item" href="#">New project...</a></li>
                                        <li><a class="dropdown-item" href="#">Settings</a></li>
                                        <li><a class="dropdown-item" href="#">Profile</a></li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li><a class="dropdown-item" asp-action="Login" asp-controller="Home">Log out</a></li>
                                    </ul>
                                </div>
                            }
                        }
                    </div>
                </nav>


                <!-- Second nav bar -->
                <!--Nav Ended-->

                <div class="container mt-3">
                    <div class="fs-3">Share your story</div>
                    <div class="row mt-4">

                        <div class="col-lg-4">

                            <label class="my-2">Select Mission</label>

                            <select class="form-select" id ="mid"aria-label="Default select example">
                                @foreach (var items in Model.mission)
                                {
                                    @* <option selected>Select Your Mission</option>*@
                                    <option value="@items.MissionId" id= "mtitle">@items.Title</option>
                                   
                                }
                               
                                    
                            </select>

                        </div>

                        <div class="col-lg-4">
                            <label class="my-2">My Story Title</label>
                            <input type="text" class="form-control" id="storytitle" placeholder="Enter story title" />
                        </div>
                        <div class="col-lg-4">
                            <label class="my-2">Date</label>
                            <input type="date" class="form-control" id="sdate" />
                        </div>
                    </div>
                    <div class="row mx-1 my-2">
                        <label class="my-2">My Story</label>
                        <textarea id="ckeditorcontent" name="ckeditorcontent"></textarea>
                        <script type="text/javascript">CKEDITOR.replace('ckeditorcontent');CKEDITOR.config.width='100%';CKEDITOR.config.height='275px';</script>
                    </div>
                    <div>
                        <label class="my-3">Enter Video URL</label>
                        <input type="url" id = "url" class="form-control" placeholder="Enter your url" />
                    </div>


                    <div class="my-3">

                        @*<div class="upload_box">
                            <div class="upload_imagebox my-3" id="upload_imagebox">
                            <img src="~/images/drag-and-drop.png" asp-for="StoryMedia" id="myselectimg" />
                            <input type="file" name="file" id="file" accept="image/*, video/*" style="display: none;" multiple />
                            </div>
                            </div>*@


                        <div class="form-group mt-3">
                            <label class="my-3" for="">Upload Your Photos</label>
                            <input type="file" class="form-control" name="images[]" multiple id="upload-img" />
                            <div class="upload_imagebox mb-3" id="upload_imagebox">
                                <img src="~/images/drag-and-drop.png" asp-for="" id="myselectimg" />

                                
                            </div>
                            <div class="img-thumbs img-thumbs-hidden" id="img-preview"></div>


                        </div>

                        @*<div class="upload-container">
                            <div class="icon-container">
                            <i class="fa fa-camera"></i>
                            <span>Upload Image or Video</span>
                            </div>
                            <input type="file" name="file" id="file" accept="image/*, video/*" style="display: none;" />
                            </div>*@

                       <div class="row mb-2">
                            <div class="d-flex col-lg-6 my-2 my-lg-0 justify-content-center">
                                <button type="button" asp-action="storydetails" asp-controller = "Story" class="btnstrcancel">Cancel</button>
                            </div>
                            <div class="d-flex col-lg-6 justify-content-center">
                                <button type="button" id = "save" class="btnstrss">Save</button>
                                <button id ="submitt" class="btnstrss ms-4">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </form>

    <script>
           var imgUpload = document.getElementById('upload-img')
          , imgPreview = document.getElementById('img-preview')
          , imgUploadForm = document.getElementById('form-upload')
          , totalFiles
          , previewTitle
          , previewTitleText
          , img;

        imgUpload.addEventListener('change', previewImgs, true);

        function previewImgs(event) {
          totalFiles = imgUpload.files.length;

             if(!!totalFiles) {
            imgPreview.classList.remove('img-thumbs-hidden');
          }

          for(var i = 0; i < totalFiles; i++) {
            wrapper = document.createElement('div');
            wrapper.classList.add('wrapper-thumb', 'p-3');
            removeBtn = document.createElement("span");
            nodeRemove= document.createTextNode('x');
            removeBtn.classList.add('remove-btn');
            wrapper.appendChild(removeBtn);
            removeBtn.appendChild(nodeRemove);
            img = document.createElement('img');
            img.src = URL.createObjectURL(event.target.files[i]);
            img.classList.add('img-preview-thumb' , 'w-100', 'py-3');
            wrapper.appendChild(img);
            imgPreview.appendChild(wrapper);

            $('.remove-btn').click(function(){
              $(this).parent('.wrapper-thumb').remove();
            });
          }
        }

        $(function(){
            $('#submitt').click(function(){
                console.log("hii");
               
                var mid  = $('#mid').val();
                var storytitle = $('#storytitle').val();
                var sdate = $('#sdate').val();
                var url = $('#url').val();
                console.log(mid);
                console.log(storytitle);
                console.log(sdate);
                console.log(url);
                $.ajax({
                    type:'POST',
                    url: '/Story/sharestory',
                    data:{
                        mid : mid,
                        storytitle : storytitle,
                        sdate : sdate,
                        url : url,
                    }
                });
            });
        });
    </script>

</body>
</html>