@model CiPlatform.Entitites.ViewModels.StoryView

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="~/css/storydetails.css">
    <script type="text/javascript" src="~/js/Home.js"></script>

</head>
<body>
    <form method="post">
        <!-- --------------------------------------------first navbar----------------------------------------------------->



        <nav class="navbar navbar-expand-md navbar-light header " aria-label="Eighth navbar example">
            <div class="container">

                <button class="btn btn-dark" type="button" data-bs-toggle="offcanvas" id="hamburgerbut"
                        data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
                    <img src="~/Images/list.png">
                </button>

                <div class="offcanvas offcanvas-start offcanvas1" data-bs-scroll="true" tabindex="-1"
                     id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">

                    <div class="offcanvas-header">
                        <h2>CI-PLATFORM</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>

                    <div class="offcanvas-body navbar-nav me-auto mb-2 mb-lg-0 align-self-center">
                        <div class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle link-dark border-0" href="#" id="navbarDropdown"
                               role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="~/Images/user-img.png" alt="mdo" width="32" height="32" class="rounded-circle" />
                                @{
                                    var firstname = Context.Session.GetString("Firstname");
                                }
                                @ViewBag.firstname
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">New project</a></li>
                                <li><a class="dropdown-item" href="#">Settings</a></li>
                                <li><a class="dropdown-item" href="#">Profile</a></li>
                                <li>
                                    <hr class="dropdown-divider" />
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-controller="Home" asp-action="Login">Log out</a>
                                </li>
                            </ul>
                        </div>

                        <li class="nav-item">
                            <a class="nav-link " aria-current="page" asp-controller="Story" asp-action="storydetails">Story</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
                               aria-expanded="false">Policy</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                    </div>
                </div>

                <img src="~/Images/logo.png" alt="CI-PLATFORM" class="me-5">
                <ul class="navbar-nav first-nav me-auto mb-2 mb-lg-0 ">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" asp-controller="Story" asp-action="storydetails">Story</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
                           aria-expanded="false">Policy</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
                @foreach (var p in Model.user)
                {
                    if (p.UserId == ViewBag.uid)
                    {

                        <div class="dropdown text-end user-profile ">
                            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
                       aria-expanded="false">
                                <img src="~/Images/user-img.png" alt="mdo" width="40" height="40" class="rounded-circle">

                                @p.FirstName
                            </a>
                            <ul class="dropdown-menu text-small">
                                <li><a class="dropdown-item" href="#">New project...</a></li>
                                <li><a class="dropdown-item" href="#">Settings</a></li>
                                <li><a class="dropdown-item" href="#">Profile</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" asp-action="Login" asp-controller="Home">Log out</a></li>
                            </ul>
                        </div>
                    }
                }
            </div>
        </nav>

        <!------------------------------------------------ second navbar----------------------------------- -->
        @*----------------------------------main div start from here------------------------------------------*@
      
      
    <div class="d-flex">
        <div class="col-md-1 col-0 border-bottom"></div>

        <!--Main Navigation-->
        <div class="col-md-10 col-12">
        
            <div class="container-fluid">
                <!--Container1-->
                <div class="row mt-4 mediavolunteer">
                    <div class="col-lg-6 ">
                        <!-- Carousel wrapper -->
                        <div id="carouselExampleIndicators" class="carousel slide carousel-fade carousel-dark"
                            data-mdb-ride="carousel">
                            <!-- Slides -->
                            <div class="carousel-inner mb-5">
                                <div class="carousel-item active" style="height: 60.5vh;">
                                    <img src="~/Images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-4.png"
                                        class="d-block w-100" alt="..." style="height: 100%;" />
                                </div>
                                <div class="carousel-item" style="height: 60.5vh" ;>
                                    <img src="~/Images/img1.png" class="d-block w-100" alt="..."
                                        style="height: 100%;" />
                                </div>
                                <div class="carousel-item" style="height: 60.5vh">
                                    <img src="~/Images/Grow-Trees-On-the-path-to-environment-sustainability-2.png"
                                        class="d-block w-100" alt="..." style="height: 100%;" />
                                </div>
                                <div class="carousel-item" style="height: 60.5vh">
                                    <img src="~/Images/img11.png" class="d-block w-100" alt="..."
                                        style="height: 100%;" />
                                </div>
                                <div class="carousel-item" style="height: 60.5vh">
                                    <img src="~/Images/Plantation-and-Afforestation-programme.png" class="d-block w-100"
                                        alt="..." style="height: 100%;" />
                                </div>
                            </div>
                            <!-- Slides -->

                            <!-- Controls -->
                            <button class="carousel-control-prev" type="button"
                                data-mdb-target="#carouselExampleIndicators" data-mdb-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                data-mdb-target="#carouselExampleIndicators" data-mdb-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                            <!-- Controls -->

                            <!-- Thumbnails -->
                            <div class="carousel-indicators list-inline thumbnailimg img-fluid" style="margin-bottom: -20px;">
                                <button type="button" data-mdb-target="#carouselExampleIndicators" data-mdb-slide-to="0"
                                    class="active" aria-current="true" aria-label="Slide 1" style="width: 40%;">
                                    <img class="d-block w-100"
                                        src="~/Images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-1.png"
                                        class="img-fluid" />
                                </button>
                                <button type="button" data-mdb-target="#carouselExampleIndicators" data-mdb-slide-to="1"
                                    aria-label="Slide 2" style="width: 40%;">
                                    <img class="d-block w-100" src="~/Images/img1.png" class="img-fluid" />
                                </button>
                                <button type="button" data-mdb-target="#carouselExampleIndicators" data-mdb-slide-to="2"
                                    aria-label="Slide 3" style="width: 40%;">
                                    <img class="d-block w-100"
                                        src="~/Images/Grow-Trees-On-the-path-to-environment-sustainability-2.png"
                                        class="img-fluid" />
                                </button>
                                <button type="button" data-mdb-target="#carouselExampleIndicators" data-mdb-slide-to="3"
                                    aria-label="Slide 4" style="width: 40%;">
                                    <img class="d-block w-100" src="~/Images/img11.png" class="img-fluid" />
                                </button>
                                <button type="button" data-mdb-target="#carouselExampleIndicators" data-mdb-slide-to="4"
                                    aria-label="Slide 5" style="width: 40%;">
                                    <img class="d-block w-100"
                                        src="~/Images/Plantation-and-Afforestation-programme-1.png" class="img-fluid" />
                                </button>
                               
                            </div>
                            <!-- Thumbnails -->
                        </div>
                        <!-- Carousel wrapper -->
                    </div>
                    <div class="col-lg-6 " style="margin-top: 3%;">
                        <div class="csrtitle">
                            <span>CSR initiative stands for Coffee & Farmer Equity</span>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi est consectetur maxime
                                ducimus doloribus culpa, mollitia enim magnam nostrum corporis</p>
                        </div>
                        <div class="border-bottom mt-5"></div>
                        <div class="text-center">
                            <button class="btn btn-rounded disabled"
                                style="box-shadow: none; border: 1px solid #bbb4b4;background: white; margin-top: -20px;">
                                <span style="font-size: 17px;color: #414141; font-weight: 400;">Plant 10,000
                                    Trees</span>
                            </button>
                        </div>

                        <div class="d-flex justify-content-around mt-2">
                            <div class="d-flex align-items-center">
                                <div class="mt-1 pe-0 me-2">
                                    <img src="~/Images/Seats-left.png" alt="" width="25px" height="25px">
                                </div>
                                <div class="px-0" style="color: #757575;">
                                    <h5 class="mb-0 mt-1">10</h5>
                                    <p class="mb-0">Seats left</p>
                                </div>
                            </div>
                            <div class="d-flex align-items-center">
                                <div class="mt-1 me-2 p-0">
                                    <img src="~/Images/mission.png" alt="" width="30px" height="30px">
                                </div>
                                <div class="px-0">
                                    <h5 class="mb-0 mt-1">
                                        <div class="progress" role="progressbar" aria-label="Basic example"
                                            aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                            <div class="progress-bar" style="width: 70%;background-color: #F88634;">
                                            </div>
                                        </div>
                                    </h5>
                                    <p class="mb-0 " style="color: #757575;">8000 Achieved</p>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex favbtn mt-4 justify-content-between">
                            <a href="" class="btn btn-outline-dark btn-rounded px-2"
                                style="width:45%; border-radius: 5;"><img src="~/Images/heart1.png" alt=""> Add to
                                Favourite</a>
                            <a href="" class="btn btn-outline-dark btn-rounded px-2"
                                style="width:45%; border-radius: 5;"><img src="~/Images/add1.png" alt=""> Recommend to a
                                Co-Worker</a>
                        </div>
                        <!--Stars-->
                        <div class=" border-top mt-4 position-relative ">
                            <div class="d-flex position-absolute mt-4 " id="starposition">
                                <img src="~/Images/star-empty.png" alt="">
                                <img src="~/Images/star-empty.png" alt="">
                                <img src="~/Images/star-empty.png" alt="">
                                <img src="~/Images/star-empty.png" alt="">

                                <img src="~/Images/star-empty.png" alt="">
                            </div>
                        </div>
                        <div class="container-fluid flex-wrap">
                            <div class="row d-flex mx-auto" style="margin-top: 15%;">
                                <div class="col-md-3 col-sm-6 col-6 border ps-1 pt-1">
                                    <img src="/images/pin1.png">
                                    <p class="mt-4 mb-0" style="font-size: 13px;color: #757575;">City</p>
                                    <p class="mb-0" style="font-size: 15px;color: #414141;">London</p>
                                </div>
                                <div class="col-md-3 col-sm-6 col-6 border ps-1 pt-1">
                                    <img src="/images/web.png">
                                    <p class="mt-4 mb-0" style="font-size: 13px;color: #757575;">Theme</p>
                                    <p class="mb-0" style="font-size: 15px;color: #414141;">Environment</p>
                                </div>
                                <div class="col-md-3 col-sm-6 col-6 border ps-1 pt-1">
                                    <img src="/images/calender.png">
                                    <p class="mt-4 mb-0" style="font-size: 13px;color: #757575;">Date</p>
                                    <p class="mb-0" style="font-size: 15px;color: #414141;">Ongoing Opportunity</p>
                                </div>
                                <div class="col-md-3 col-sm-6 col-6 border ps-1 pt-1">
                                    <img src="/images/organization.png">
                                    <p class="mt-4 mb-0" style="font-size: 13px;color: #757575;">Organization</p>
                                    <p class="mb-0" style="font-size: 15px;color: #414141;">CSE Network</p>
                                </div>
                            </div>
                        </div>
                        <div class="apply text-center mt-4">
                            <a type="button" class="btn btn-rounded btn-outline-warning">Apply <img
                                    src="/Images/right-arrow.png" alt=""></a>
                        </div>
                    </div>
                    <!--Right side ended-->
                </div>
            </div>
            <div class="row container-fluid" style="margin-top: 5%;">
                <div class="col-lg-8"  >

                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="home-tab" data-bs-toggle="tab"
                                data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane"
                                aria-selected="true">Mission</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="profile-tab" data-bs-toggle="tab"
                                data-bs-target="#profile-tab-pane" type="button" role="tab"
                                aria-controls="profile-tab-pane" aria-selected="false">Organization</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="contact-tab" data-bs-toggle="tab"
                                data-bs-target="#contact-tab-pane" type="button" role="tab"
                                aria-controls="contact-tab-pane" aria-selected="false">Comments</button>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel"
                            aria-labelledby="home-tab" tabindex="0">
                            <p style="font-size: 25px;color: #414141;">Introduction</p>
                            <p style="color: #414141; font-size: 15px;">Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Reiciendis ipsum perspiciatis laboriosam nemo accusantium eligendi
                                quis perferendis, porro facilis ullam?</p>
                            <p style="color: #414141; font-size: 15px;">Lorem ipsum, dolor sit amet consectetur
                                adipisicing elit. Libero distinctio, ex mollitia, voluptas inventore adipisci animi
                                porro ea odit alias eos? Tempora ad perferendis illum rerum blanditiis quidem illo
                                voluptatibus?</p>
                            <p style="color: #414141; font-size: 15px;">Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Ipsa laboriosam voluptates vitae animi quibusdam quis voluptas dolore
                                error et doloremque inventore earum sunt totam deserunt, dicta cupiditate consectetur.
                                Asperiores aut praesentium incidunt vel? Ut placeat dolore dicta doloribus tempora ad,
                                quidem deleniti, eos corporis delectus libero nobis natus aperiam quo.</p>
                            <p style="font-size: 25px;color: #414141;">Challenge</p>
                            <p style="color: #414141; font-size: 15px;">Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. A, dolorum neque! Necessitatibus libero officia ab! Repellat, dolorum
                                in voluptatem assumenda laborum molestias itaque deleniti sapiente. Ad quis minus facere
                                repudiandae quaerat quae aliquid nobis fugiat perspiciatis rerum labore enim odio,
                                numquam incidunt hic optio alias aspernatur voluptatibus reprehenderit dignissimos eos?
                            </p>
                            <p style="color: #414141; font-size: 15px;">Lorem ipsum dolor, sit amet consectetur
                                adipisicing elit. Cupiditate fugit asperiores esse praesentium in alias debitis suscipit
                                eveniet. Non quas quo repellendus vitae! Minus beatae sed alias maxime, velit iure totam
                                similique. Ad, quae ipsum! Praesentium explicabo nam perspiciatis commodi!</p>
                            <p style="font-size: 25px;color: #414141;">Documents</p>
                            <div class="d-flex flex-lg-row flex-md-column flex-sm-column flex-column mx-lg-0 mx-md-auto mx-sm-auto mx-auto ">
                                <button class="btn px-4 ms-3 w-lg-auto w-md-50 w-sm-50 " style="border: 1px solid #E8E8E8; border-radius: 23px;">
                                    <img src="~/Images/pdf.png" alt="">
                                    <span>Lorem-ipsum.pdf</span>
                                </button>
                                <button class="btn px-4 ms-3 w-lg-auto w-md-50 w-sm-50" style="border: 1px solid #E8E8E8; border-radius: 23px;">
                                    <img src="~/Images/doc.png" alt="">
                                    <span>at_vero_eos_accusamus.doc</span>
                                </button>
                                <button class="btn px-4 ms-3 w-lg-auto w-md-50 w-sm-50" style="border: 1px solid #E8E8E8; border-radius: 23px;">
                                    <img src="~/Images/xlsx.png" alt="">
                                    <span>important_doc.xls</span>
                                </button>
                            </div>

                        </div>

                        <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab"
                            tabindex="0">
                            <div>
                                <div class="divces d-flex m-4">
                                    <img src="~/Images/ces.jpg" alt="">
                                    <div class="divname ms-5 mt-3">
                                        <p style="font-size: 25px;">CES Industrial Solution Network</p>
                                        <div class="d-flex">
                                            <img src="~/Images/Already-volunteered.png" alt="" height="20px"
                                                width="20px">
                                            <p class="ms-2">Melvin A. Sawyer, Managing Director</p>
                                        </div>
                                    </div>
                                </div>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente magni vero
                                    reiciendis omnis soluta nostrum, quasi nam quod fugit pariatur.</p>
                                <div class="divlocation d-flex">
                                    <img src="~/Images/pin1.png" alt="" height="20px" width="18px">
                                    <p class="ms-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum,
                                        animi?</p>
                                </div>
                                <div class="divcall d-flex">
                                    <i class="bi bi-telephone"></i>
                                    <p class="ms-3">+1 7788554422</p>
                                </div>
                                <div class="divmail d-flex">
                                    <i class="bi bi-envelope"></i>
                                    <p class="ms-3">abc@gmail.com</p>
                                </div>
                                <div class="divworld d-flex">
                                    <img src="~/Images/web.png" alt="" height="20px" width="20px">
                                    <p class="ms-3">www.abc.com</p>
                                </div>
                                <p style="font-size: 25px;color: #414141;">About Organization</p>
                                <p style="color: #414141; font-size: 15px;">Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit. Id placeat voluptatem commodi sunt laboriosam, veniam ut assumenda
                                    cumque vitae laudantium, quasi, fugit ullam corporis nihil?</p>
                                <p style="color: #414141; font-size: 15px;">Lorem ipsum dolor, sit amet consectetur
                                    adipisicing elit. Minima nihil fugiat, laudantium, ipsam in eveniet necessitatibus
                                    molestiae soluta sapiente commodi, inventore possimus quos natus perferendis
                                    adipisci veritatis ea earum? Ex tenetur quod iusto sequi veritatis, veniam,
                                    repellendus illo quas eius deserunt perspiciatis. Voluptatem necessitatibus quo modi
                                    voluptatum nostrum enim corrupti!</p>

                            </div>
                        </div>

                        <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab"
                            tabindex="0">
                            <div class="tab-pane fade ms-2 pb-2 active show"
                                style="background-color: rgb(243, 243, 243);" id="ex1-tabs-3" role="tabpanel"
                                aria-labelledby="ex1-tab-3">
                                <div class="form-group ps-2 pt-2 pe-2">
                                    <textarea class="form-control " id="exampleFormControlTextarea1" rows="3"
                                        placeholder="Enter your comments..."></textarea>
                                </div>
                                <a href="" class="btn btn-outline-warning ms-2 mt-2" id="postCommentBtn">Post
                                    Comment</a>
                                <div class="Scroll">
                                    <div class="d-flex mt-2 ms-2 bg-light rounded-2 me-2">
                                        <div class="my-auto">
                                            <img src="~/Images/volunteer1.png" width="50px" height="50px"
                                                class="imgcircle ms-2" alt="" >
                                        </div>
                                        <div class="ps-3">
                                            <p class="mb-0">Margaret Walsh</p>
                                            <small style="font-size: 12px;">Monday, October 21,2019,4.57 PM</small>
                                            <p>Nice mission great oppertunity for peoples</p>
                                        </div>
                                    </div>
                                    <div class="d-flex mt-2 ms-2 bg-light rounded-2 me-2">
                                        <div class="my-auto">
                                            <img src="~/Images/volunteer2.png" width="50px" height="50px"
                                                class="imgcircle ms-2" alt="" >
                                        </div>
                                        <div class="ps-3">
                                            <p class="mb-0">Margaret Walsh</p>
                                            <small style="font-size: 12px;">Monday, October 21,2019,4.57 PM</small>
                                            <p>Nice mission great oppertunity for peoples</p>
                                        </div>
                                    </div>
                                    <div class="d-flex mt-2 ms-2 bg-light rounded-2 me-2">
                                        <div class="my-auto">
                                            <img src="~/Images/volunteer3.png" width="50px" height="50px"
                                                class="imgcircle ms-2" alt="" >
                                        </div>
                                        <div class="ps-3">
                                            <p class="mb-0">Margaret Walsh</p>
                                            <small style="font-size: 12px;">Monday, October 21,2019,4.57 PM</small>
                                            <p>Nice mission great oppertunity for peoples</p>
                                        </div>
                                    </div>
                                    <div class="d-flex mt-2 ms-2 bg-light rounded-2 me-2">
                                        <div class="my-auto">
                                            <img src="~/Images/volunteer4.png" width="50px" height="50px"
                                                class="imgcircle ms-2" alt="" >
                                        </div>
                                        <div class="ps-3">
                                            <p class="mb-0">Margaret Walsh</p>
                                            <small style="font-size: 12px;">Monday, October 21,2019,4.57 PM</small>
                                            <p>Nice mission great oppertunity for peoples</p>
                                        </div>
                                    </div>

                                    <div class="d-flex mt-2 ms-2 bg-light rounded-2 me-2">
                                        <div class="my-auto">
                                            <img src="~/Images/volunteer5.png" width="50px" height="50px"
                                                class="imgcircle ms-2" alt="" >
                                        </div>
                                        <div class="ps-3">
                                            <p class="mb-0">Margaret Walsh</p>
                                            <small style="font-size: 12px;">Monday, October 21,2019,4.57 PM</small>
                                            <p>Nice mission great oppertunity for peoples</p>
                                        </div>
                                    </div>
                                    <div class="d-flex mt-2 ms-2 bg-light rounded-2 me-2">
                                        <div class="my-auto">
                                            <img src="~/Images/volunteer6.png" width="50px" height="50px"
                                                class="imgcircle ms-2" alt="" >
                                        </div>
                                        <div class="ps-3">
                                            <p class="mb-0">Margaret Walsh</p>
                                            <small style="font-size: 12px;">Monday, October 21,2019,4.57 PM</small>
                                            <p>Nice mission great oppertunity for peoples</p>
                                        </div>
                                    </div>
                                    <div class="d-flex mt-2 ms-2 bg-light rounded-2 me-2">
                                        <div class="my-auto">
                                            <img src="~/Images/volunteer7.png" width="50px" height="50px"
                                                class="imgcircle ms-2" alt="" >
                                        </div>
                                        <div class="ps-3">
                                            <p class="mb-0">Margaret Walsh</p>
                                            <small style="font-size: 12px;">Monday, October 21,2019,4.57 PM</small>
                                            <p>Nice mission great oppertunity for peoples</p>
                                        </div>
                                    </div>
                                    <div class="d-flex mt-2 ms-2 bg-light rounded-2 me-2">
                                        <div class="my-auto">
                                            <img src="~/Images/volunteer8.png" width="50px" height="50px"
                                                class="imgcircle ms-2" alt="" >
                                        </div>
                                        <div class="ps-3">
                                            <p class="mb-0">Margaret Walsh</p>
                                            <small style="font-size: 12px;">Monday, October 21,2019,4.57 PM</small>
                                            <p>Nice mission great oppertunity for peoples</p>
                                        </div>
                                    </div>
                                    <div class="d-flex mt-2 ms-2 bg-light rounded-2 me-2">
                                        <div class="my-auto">
                                            <img src="~/Images/volunteer9.png" width="50px" height="50px"
                                                class="imgcircle ms-2" alt="" >
                                        </div>
                                        <div class="ps-3">
                                            <p class="mb-0">Margaret Walsh</p>
                                            <small style="font-size: 12px;">Monday, October 21,2019,4.57 PM</small>
                                            <p>Nice mission great oppertunity for peoples</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
                <div class="col-lg-4 flex-column row2right mt-3">
                    <div class="mb-5 col-12 border">
                        <div class="tab-content ms-3 mt-3">
                            <span>Information</span>
                            <div class="d-flex border-bottom mt-2">
                                <p> Skills</p>
                                <p class="ms-5">Cool, Easy going, Math, Computer</p>
                            </div>
                        </div>
                        <div class="tab-content ms-3 mt-3">
                            <div class="d-flex border-bottom mt-2">
                                <p> Days</p>
                                <p class="ms-5">Weekends Only</p>
                            </div>
                        </div>
                        <div class="tab-content ms-3 mt-3">
                            <div class="d-flex border-bottom mt-2 ">
                                <p> Skills</p>
                                <p class="ms-5" style=" font-size: 14px;color: #757575;font-style:NotoSans-Light;">

                                    <img src="~/Images/selected-star.png" alt="">
                                    <img src="~/Images/selected-star.png" alt="">
                                    <img src="~/Images/selected-star.png" alt="">
                                    <img src="~/Images/selected-star.png" alt="">
                                    <img src="~/Images/selected-star.png" alt="">

                                    (by 125 volunteers)
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="me-5 border mb-4 col-12">
                        <!-- Tabs navs -->
                        <span class="ms-3 mt-3">Recent Volunteeres</span>
                        <!-- Tabs navs -->

                        <!-- Tabs content -->
                        <div class="tab-content mt-4" id="ex1-content">
                            <div class="tab-pane fade show active ps-2" id="ex1-tabs-1" role="tabpanel"
                                aria-labelledby="ex1-tab-1">
                                <div class="d-flex justify-content-evenly">
                                    <div class="text-center">
                                        <img src="~/Images/volunteer1.png" class="imgcircle" width="70px" height="70px"
                                            alt="">
                                        <p style="font-size: 13px;">Andrew Johnson</p>
                                    </div>
                                    <div class="text-center">
                                        <img src="~/Images/volunteer2.png" class="imgcircle" width="70px" height="70px"
                                            alt="">
                                        <p style="font-size: 13px;">Charlis vigue</p>
                                    </div>
                                    <div class="text-center">
                                        <img src="~/Images/volunteer3.png" class="imgcircle" width="70px" height="70px"
                                            alt="">
                                        <p style="font-size: 13px;">kathryn Robert</p>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-evenly">
                                    <div class="text-center">
                                        <img src="~/Images/volunteer4.png" class="imgcircle" width="70px" height="70px"
                                            alt="">
                                        <p style="font-size: 13px;">Estella Fowles</p>
                                    </div>
                                    <div class="text-center">
                                        <img src="~/Images/volunteer5.png" class="imgcircle" width="70px" height="70px"
                                            alt="">
                                        <p style="font-size: 13px;">Travis steen</p>
                                    </div>
                                    <div class="text-center">
                                        <img src="~/Images/volunteer6.png" class=" imgcircle " width="70px" height="70px" alt="">
                                        <p style="font-size: 13px;">Andrew Johnson</p>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-evenly ">
                                    <div class="text-center">
                                        <img src="~/Images/volunteer7.png" class="imgcircle" width="70px" height="70px"
                                            alt="">
                                        <p style="font-size: 13px;">Rose lewis</p>
                                    </div>
                                    <div class="text-center">
                                        <img src="~/Images/volunteer8.png" class="imgcircle" width="70px" height="70px"
                                            alt="">
                                        <p style="font-size: 13px;">Andrew Johnson</p>
                                    </div>
                                    <div class="text-center">
                                        <img src="~/Images/volunteer9.png" class="imgcircle" width="70px" height="70px"
                                            alt="">
                                        <p style="font-size: 13px;">Ramond Paybon</p>
                                    </div>
                                </div>

                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-between">
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                              </a>
                                        </li>
                                        <li class="page-item px-3 mt-2"><a class="page-link" href="#">1-9 of 15 Recent
                                                Volunteeres</a></li>
                                        <li class="page-item ps-1">
                                            <a class="page-link" href="#" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                              </a>
                                        </li>
                                    </ul>
                                </nav>

                            </div>
                        </div>
                        <!-- Tabs content -->
                    </div>
                </div>

            </div>

            <!--First container ended-->

            <!--Realted Missions Started-->
            <h1 class="text-center" style="margin-top: 5%;">Related Missions</h1>
            <!-- Cards START-->
            <div class="container-fluid grid-container mt-3">

                <div class="row">
                    <!-- 1 st -->


                    <div class="col-12 col-md-6 col-lg-4 mb-4">
                        <div class="card">

                            <div class="position-relative">
                                <img class="card-img-top"
                                    src="~/Images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity.png"
                                    alt="Card image cap">
                                <div class="position-absolute c1-location py-1 px-2">
                                    <img src="~/Images/pin.png" alt="Location">
                                    London
                                </div>
                                <div class="position-absolute c1-heart" style="height:35px; width: 38px;">
                                    <img src="~/Images/heart.png" alt="Heart" class="ps-2 py-2">
                                </div>
                                <div class="position-absolute c1-person" style="height:35px; width: 38px;">
                                    <img src="~/Images/user.png" alt="" class="ps-2 py-2">
                                </div>
                                <div>
                                    <p class="mb-0 position-absolute px-2" id="missionTheme">Environment</p>
                                </div>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Grow Trees-On the path to environment sustainability</h5>
                                <p class="card-text text-secondary">Lorem ipsum dolor sit amet consectetur adipisicing
                                    elit. Voluptates, rerum voluptate! Culpa harum consequuntur nobis consectetur
                                    facilis assumenda voluptates quas!</p>

                                <div class="d-flex justify-content-between align-items-center mb-3 cardstar">
                                    <div class="card-text">
                                        Tree Canada
                                    </div>

                                    <div>
                                        <img src="~/Images/selected-star.png" alt="">
                                        <img src="~/Images/selected-star.png" alt="">
                                        <img src="~/Images/selected-star.png" alt="">
                                        <img src="~/Images/selected-star.png" alt="">
                                        <img src="~/Images/star.png" alt="">
                                    </div>
                                </div>

                                <div class="border-top border-bottom pb-3 position-relative pt-3">
                                    <div class="d-flex justify-content-between mt-2">
                                        <div class="d-flex align-items-center">
                                            <div class="mt-1 pe-0 me-2">
                                                <img src="~/Images/Already-volunteered.png" alt="" width="25px"
                                                    height="25px">
                                            </div>
                                            <div class="px-0">
                                                <h5 class="mb-0 mt-1">250</h5>
                                                <p class="mb-0">Already Volunteered</p>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="roundedSection text-center position-absolute" id="missionDeadline">
                                        <p class="mb-0 px-1" style="font-size: 10px;">Ongoing Opportunity
                                        </p>
                                    </div>
                                </div>
                                <div class="card-footer text-center">
                                    <button type="button" class="btn btn-rounded btn-outline-warning">Apply <img
                                            src="/Images/right-arrow.png" alt=""></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 2 nd -->
                    <div class="col-12 col-md-6 col-lg-4 mb-4">
                        <div class="card">

                            <div class="position-relative">
                                <img class="card-img-top" src="~/Images/Animal-welfare-_-save-birds-campaign.png"
                                    alt="Card image cap">
                                <div class="position-absolute c1-location py-1 px-2">
                                    <img src="~/Images/pin.png" alt="Location">
                                    Cape Town
                                </div>
                                <div class="position-absolute c1-heart" style="height:35px; width: 38px;">
                                    <img src="~/Images/heart.png" alt="Heart" class="ps-2 py-2">
                                </div>
                                <div class="position-absolute c1-person" style="height:35px; width: 38px;">
                                    <img src="~/Images/user.png" alt="" class="ps-2 py-2">
                                </div>
                                <div>
                                    <p class="mb-0 position-absolute px-2" id="missionTheme">Environment</p>
                                </div>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Grow Trees-On the path to environment sustainability</h5>
                                <p class="card-text text-secondary">Lorem ipsum dolor sit amet consectetur adipisicing
                                    elit. Voluptates, rerum voluptate! Culpa harum consequuntur nobis consectetur
                                    facilis assumenda voluptates quas!</p>

                                <div class="d-flex justify-content-between align-items-center mb-3 cardstar">
                                    <div class="card-text">
                                        Tree Canada
                                    </div>

                                    <div>
                                        <img src="~/Images/selected-star.png" alt="">
                                        <img src="~/Images/selected-star.png" alt="">
                                        <img src="~/Images/selected-star.png" alt="">
                                        <img src="~/Images/selected-star.png" alt="">
                                        <img src="~/Images/star.png" alt="">
                                    </div>
                                </div>

                                <div class="border-top border-bottom pb-3 position-relative pt-3">
                                    <div class="d-flex justify-content-between mt-2">
                                        <div class="d-flex align-items-center">
                                            <div class="mt-1 pe-0 me-2">
                                                <img src="~/Images/Seats-left.png" alt="" width="25px" height="25px">
                                            </div>
                                            <div class="px-0">
                                                <h5 class="mb-0 mt-1">10</h5>
                                                <p class="mb-0">Seats left</p>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <div class="mt-1 me-2 p-0">
                                                <img src="~/Images/deadline.png" alt="" width="30px" height="30px">
                                            </div>
                                            <div class="px-0">
                                                <h5 class="mb-0 mt-1">09/01/2019</h5>
                                                <p class="mb-0">Deadline</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="roundedSection text-center position-absolute" id="missionDeadline">
                                        <p class="mb-0 px-1" style="font-size: 10px;">Plant 10,000 Trees
                                        </p>
                                    </div>
                                </div>
                                <div class="card-footer text-center">
                                    <button type="button" class="btn btn-rounded btn-outline-warning">Apply <img
                                            src="/Images/right-arrow.png" alt=""></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 3 rd -->
                    <div class="col-12 col-md-6 col-lg-4 mb-4">
                        <div class="card">

                            <div class="position-relative">
                                <img class="card-img-top"
                                    src="~/Images/Grow-Trees-On-the-path-to-environment-sustainability.png"
                                    alt="Card image cap">
                                <div class="position-absolute c1-location py-1 px-2">
                                    <img src="~/Images/pin.png" alt="Location">
                                    paris
                                </div>
                                <div class="position-absolute c1-heart" style="height:35px; width: 38px;">
                                    <img src="~/Images/heart.png" alt="Heart" class="ps-2 py-2">
                                </div>
                                <div class="position-absolute c1-person" style="height:35px; width: 38px;">
                                    <img src="~/Images/user.png" alt="" class="ps-2 py-2">
                                </div>
                                <div>
                                    <p class="mb-0 position-absolute px-2" id="missionTheme">Environment</p>
                                </div>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Grow Trees-On the path to environment sustainability</h5>
                                <p class="card-text text-secondary">Lorem ipsum dolor sit amet consectetur adipisicing
                                    elit. Voluptates, rerum voluptate! Culpa harum consequuntur nobis consectetur
                                    facilis assumenda voluptates quas!</p>

                                <div class="d-flex justify-content-between align-items-center mb-3 cardstar">
                                    <div class="card-text">
                                        Tree Canada
                                    </div>

                                    <div>
                                        <img src="~/Images/selected-star.png" alt="">
                                        <img src="~/Images/selected-star.png" alt="">
                                        <img src="~/Images/selected-star.png" alt="">
                                        <img src="~/Images/selected-star.png" alt="">
                                        <img src="~/Images/star.png" alt="">
                                    </div>
                                </div>

                                <div class="border-top border-bottom pb-3 position-relative pt-3">
                                    <div class="d-flex justify-content-between mt-2">
                                        <div class="d-flex align-items-center">
                                            <div class="mt-1 pe-0 me-2">
                                                <img src="~/Images/Seats-left.png" alt="" width="25px" height="25px">
                                            </div>
                                            <div class="px-0">
                                                <h5 class="mb-0 mt-1">10</h5>
                                                <p class="mb-0">Seats left</p>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <div class="mt-1 me-2 p-0">
                                                <img src="~/Images/deadline.png" alt="" width="30px" height="30px">
                                            </div>
                                            <div class="px-0">
                                                <h5 class="mb-0 mt-1">09/01/2019</h5>
                                                <p class="mb-0">Deadline</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="roundedSection text-center position-absolute" id="missionDeadline">
                                        <p class="mb-0 px-1" style="font-size: 10px;">Plant 10,000 Trees
                                        </p>
                                    </div>
                                </div>
                                <div class="card-footer text-center">
                                    <button type="button" class="btn btn-rounded btn-outline-warning">Apply <img
                                            src="/Images/right-arrow.png" alt=""></button>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
            <!--Crads Ended-->
        </div>
        <div class="col-md-1 col-0 border-bottom"></div>
    </div>
    <!--Main Navigation ENDED-->


    </form>
</body>
</html>